extends ../layouts/common

block content
  h1.title(style="margin-bottom: 2rem;") Cart

  if !carts || !carts.length
    .table-content.container Không có sách nào.
  else
    .container
      table.table(style="text-align: center; width: 50rem; border: 1px solid #DDD;")
        thead
          tr
            th(scope='col') Books
            th(scope='col') Amount
            th(scope='col') Action
        tbody
          each cart in carts
            tr
              td(style="text-align: start;")
                img(src= cart.coverUrl, width="32", style="margin-left: 5rem")
                span(style="margin-left: 5rem")= cart.bookTitle
              td.table-key= cart.amount
              td 
                a.btn.btn-primary(href=`/carts/delete/${cart.id}`) Delete

    form.container.button(style="text-align: end; width: 50rem; border: 1px solid #DDD; margin-left: 15px;", action="/transactions/create", method="POST")
      button.btn.btn-primary.cart-button(type="submit", style="margin: 1rem auto;") Transaction
